<div class="about wow fadeInUp" data-wow-delay="0.1s">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 col-md-6">
        <div class="about-img">
          <img src="../../../assets/img/about.jpg" alt="Image" />
        </div>
      </div>
      <div class="col-lg-7 col-md-6">
        <div class="section-header text-left">
          <p>Welcome to Prestige London</p>
          <h2>25 Years Experience</h2>
        </div>
        <div class="about-text text-justify">
          <p>
            With over 25 Years of combined construction experience Prestige
            Construction London prides itself on expertise across the full
            construction spectrum.
          </p>
          <p>
            Our multi-trade skill set allows us to take on projects from
            Planning stage to laying the final brick. Our ethos of delivering
            great quality work for a fair prices has allowed us to work with,
            homeowners, designers, architects and some of the countries leading
            property developers.
          </p>
          <p>
            Undertaking projects from luxurious bathroom installation to full
            scale renovations including back extensions and loft conversions.
            With a wealth of knowledge from our in house tradesman we guarantee
            a finish for a life time
          </p>
          <a class="btn" href="">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<app-faq></app-faq>
