<div class="footer wow fadeIn" data-wow-delay="0.3s">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="footer-contact">
          <h2>Office Contact</h2>
          <p>
            <i class="fa fa-map-marker-alt"></i>Central Working White City,
            Translation and Innovationi Hub Imperiall Collage 84, Wood Lane
            London W12 0BZ
          </p>
          <p><i class="fa fa-phone-alt"></i>03301 724 9700</p>
          <p><i class="fa fa-envelope"></i>tb@pglondon.com</p>
          <div class="footer-social">
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-youtube"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="footer-link">
          <h2>Services Areas</h2>
          <a href="">Back Extensions</a>
          <a href="">Loft Extensions</a>
          <a href="">Plumbing</a>
          <a href="">Landscape Overhaul</a>
          <a href="">Carpentry</a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="footer-link">
          <a href="">Kitchen Instalation</a>
          <a href="">Decorating</a>
          <a href="">Electrical</a>
          <a href="">Bathrooms & Tiling</a>
          <a href="">Flooring & Decking</a>
          <a href="">Roofing</a>
        </div>
      </div>
      <!-- <div class="col-md-6 col-lg-3">
              <div class="newsletter">
                <h2>Newsletter</h2>
                <p>
                  Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi.
                  Curabitur facilisis ornare velit non vulpu
                </p>
                <div class="form">
                  <input class="form-control" placeholder="Email here" />
                  <button class="btn">Submit</button>
                </div>
              </div>
            </div> -->
    </div>
  </div>
  <div class="container footer-menu">
    <div class="f-menu">
      <a href="">Terms of use</a>
      <a href="">Privacy policy</a>
      <a href="">Cookies</a>
      <a href="">Help</a>
      <a href="">FQAs</a>
    </div>
  </div>
</div>
