<!-- Service Start -->
<div class="service">
  <div class="container">
    <div class="section-header text-center">
      <!--                        <p>Our Projects</p>-->
      <h2>Our Projects</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
        <div class="service-item">
          <div class="service-img">
            <img src="../../../assets/img/balam/portfolio.jpg" alt="Image" />
            <div class="service-overlay">
              <p>Prestige Construction London</p>
            </div>
          </div>
          <div class="service-text">
            <h3>Balam</h3>
            <a
              class="btn"
              href="../../../assets/img/balam/2.jpg"
              data-lightbox="balan"
              >+</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item">
          <div class="service-img">
            <img src="../../../assets/img/chealsea/portfolio.jpg" alt="Image" />
            <div class="service-overlay">
              <p>Prestige Construction London</p>
            </div>
          </div>
          <div class="service-text">
            <h3>Chelsea</h3>
            <a
              class="btn"
              href="../../../assets/img/chealsea/1.jpg"
              data-lightbox="chealsea"
              >+</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
        <div class="service-item">
          <div class="service-img">
            <img src="../../../assets/img/ealing/portfolio.jpg" alt="Image" />
            <div class="service-overlay">
              <p>Prestige Construction London</p>
            </div>
          </div>
          <div class="service-text">
            <h3>Ealing</h3>
            <a
              class="btn"
              href="../../../assets/img/ealing/1.jpg"
              data-lightbox="ealing"
              >+</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item">
          <div class="service-img">
            <img
              src="../../../assets/img/hampstead/portfolio.jpg"
              alt="Image"
            />
            <div class="service-overlay">
              <p>Prestige Construction London</p>
            </div>
          </div>
          <div class="service-text">
            <h3>Hampstead</h3>
            <a
              class="btn"
              href="../../../assets/img/hampstead/1.jpg"
              data-lightbox="hampstead"
              >+</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="service-item">
          <div class="service-img">
            <img
              src="../../../assets/img/kensington/portfolio.jpg"
              alt="Image"
            />
            <div class="service-overlay">
              <p>Prestige Construction London</p>
            </div>
          </div>
          <div class="service-text">
            <h3>Kensigton</h3>
            <a
              class="btn"
              href="../../../assets/img/kensington/1.jpg"
              data-lightbox="kensington"
              >+</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item">
          <div class="service-img">
            <img
              src="../../../assets/img/park_lane/portfolio.jpg"
              alt="Image"
            />
            <div class="service-overlay">
              <p>Prestige Construction London</p>
            </div>
          </div>
          <div class="service-text">
            <h3>Park Line</h3>
            <a
              class="btn"
              href="../../../assets/img/park_lane/portfolio.jpg"
              data-lightbox="parkline"
              >+</a
            >
          </div>
        </div>
      </div>
    </div>
    <app-faq></app-faq>
  </div>
</div>
<!-- Service End -->

<div style="display: none">
  <a
    class="example-image-link"
    href="../../../assets/img/balam/1.jpg"
    data-lightbox="Balam"
    data-title="Click the right half of the image to move forward."
    ><img class="example-image" src="../../../assets/img/balam/1.jpg" alt=""
  /></a>
  <a
    class="example-image-link"
    href="../../../assets/img/balam/2.jpg"
    data-lightbox="Balam"
    data-title="Or press the right arrow on your keyboard."
    ><img class="example-image" src="../../../assets/img/balam/2.jpg" alt=""
  /></a>
  <a
    class="example-image-link"
    href="../../../assets/img/balam/3.jpg"
    data-lightbox="Balam"
    data-title="The next image in the set is preloaded as you're viewing."
    ><img class="example-image" src="../../../assets/img/balam/3.jpg" alt=""
  /></a>
  <a
    class="example-image-link"
    href="../../../assets/img/balam/4.jpg"
    data-lightbox="Balam"
    data-title="Click anywhere outside the image or the X to the right to close."
    ><img class="example-image" src="../../../assets/img/balam/4.jpg" alt=""
  /></a>
</div>

<div style="display: none">
  <a
    class="example-image-link"
    href="../../../assets/img/chealsea/2.jpg"
    data-lightbox="chealsea"
    data-title="Click the right half of the image to move forward."
    ><img class="example-image" src="../../../assets/img/chealsea/1.jpg" alt=""
  /></a>
  <a
    class="example-image-link"
    href="../../../assets/img/chealsea/3.jpg"
    data-lightbox="chealsea"
    data-title="Or press the right arrow on your keyboard."
    ><img class="example-image" src="../../../assets/img/chealsea/2.jpg" alt=""
  /></a>
  <a
    class="example-image-link"
    href="../../../assets/img/chealsea/4.jpg"
    data-lightbox="chealsea"
    data-title="The next image in the set is preloaded as you're viewing."
    ><img class="example-image" src="../../../assets/img/chealsea/3.jpg" alt=""
  /></a>
  <a
    class="example-image-link"
    href="../../../assets/img/chealsea/5.jpg"
    data-lightbox="chealsea"
    data-title="Click anywhere outside the image or the X to the right to close."
    ><img class="example-image" src="../../../assets/img/chealsea/4.jpg" alt=""
  /></a>
</div>

<div style="display: none">
  <a
    class="example-image-link"
    href="../../../assets/img/ealing/1.jpg"
    data-lightbox="ealing"
    data-title="Click the right half of the image to move forward."
    ><img class="example-image" src="../../../assets/img/chealsea/1.jpg" alt=""
  /></a>
  <a
    class="example-image-link"
    href="../../../assets/img/ealing/2.jpg"
    data-lightbox="ealing"
    data-title="Or press the right arrow on your keyboard."
    ><img class="example-image" src="../../../assets/img/chealsea/2.jpg" alt=""
  /></a>
  <a
    class="example-image-link"
    href="../../../assets/img/ealing/3.jpg"
    data-lightbox="ealing"
    data-title="The next image in the set is preloaded as you're viewing."
    ><img class="example-image" src="../../../assets/img/chealsea/3.jpg" alt=""
  /></a>
  <a
    class="example-image-link"
    href="../../../assets/img/ealing/4.jpg"
    data-lightbox="ealing"
    data-title="Click anywhere outside the image or the X to the right to close."
    ><img class="example-image" src="../../../assets/img/chealsea/4.jpg" alt=""
  /></a>
  <a
    class="example-image-link"
    href="../../../assets/img/ealing/5.jpg"
    data-lightbox="ealing"
    data-title="Click anywhere outside the image or the X to the right to close."
    ><img class="example-image" src="../../../assets/img/chealsea/4.jpg" alt=""
  /></a>
  <a
    class="example-image-link"
    href="../../../assets/img/ealing/6.jpg"
    data-lightbox="ealing"
    data-title="Click anywhere outside the image or the X to the right to close."
    ><img class="example-image" src="../../../assets/img/chealsea/4.jpg" alt=""
  /></a>
</div>

<div style="display: none">
  <a
    class="example-image-link"
    href="../../../assets/img/hampstead/1.jpg"
    data-lightbox="hampstead"
    data-title="Click the right half of the image to move forward."
    ><img
      class="example-image"
      src="../../../assets/img/hampstead/1.jpg"
      alt=""
  /></a>
  <a
    class="example-image-link"
    href="../../../assets/img/hampstead/2.jpg"
    data-lightbox="hampstead"
    data-title="Or press the right arrow on your keyboard."
    ><img
      class="example-image"
      src="../../../assets/img/hampstead/2.jpg"
      alt=""
  /></a>
  <a
    class="example-image-link"
    href="../../../assets/img/hampstead/3.jpg"
    data-lightbox="hampstead"
    data-title="The next image in the set is preloaded as you're viewing."
    ><img
      class="example-image"
      src="../../../assets/img/hampstead/3.jpg"
      alt=""
  /></a>
</div>

<div style="display: none">
  <a
    class="example-image-link"
    href="../../../assets/img/kensington/1.jpg"
    data-lightbox="kensington"
    data-title="Click the right half of the image to move forward."
    ><img
      class="example-image"
      src="../../../assets/img/hampstead/1.jpg"
      alt=""
  /></a>
  <a
    class="example-image-link"
    href="../../../assets/img/kensington/2.jpg"
    data-lightbox="kensington"
    data-title="Or press the right arrow on your keyboard."
    ><img
      class="example-image"
      src="../../../assets/img/kensington/2.jpg"
      alt=""
  /></a>
  <a
    class="example-image-link"
    href="../../../assets/img/kensington/4.jpg"
    data-lightbox="kensington"
    data-title="The next image in the set is preloaded as you're viewing."
    ><img
      class="example-image"
      src="../../../assets/img/kensington/4.jpg"
      alt=""
  /></a>
</div>

<div style="display: none">
  <a
    class="example-image-link"
    href="../../../assets/img/park_lane/1.jpg"
    data-lightbox="parkline"
    data-title="Click the right half of the image to move forward."
    ><img
      class="example-image"
      src="../../../assets/img/park_lane/1.jpg"
      alt=""
  /></a>
  <a
    class="example-image-link"
    href="../../../assets/img/park_lane/2.jpg"
    data-lightbox="parkline"
    data-title="Click the right half of the image to move forward."
    ><img
      class="example-image"
      src="../../../assets/img/park_lane/2.jpg"
      alt=""
  /></a>
  <a
    class="example-image-link"
    href="../../../assets/img/park_lane/3.jpg"
    data-lightbox="parkline"
    data-title="Click the right half of the image to move forward."
    ><img
      class="example-image"
      src="../../../assets/img/park_lane/3.jpg"
      alt=""
  /></a>
</div>
