<!-- FAQs Start -->
<div class="faqs">
  <div class="container">
    <div class="section-header text-center">
      <p>Frequently Asked Question</p>
      <h2>You May Ask</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div id="accordion-1">
          <div class="card wow fadeInLeft" data-wow-delay="0.1s">
            <div class="card-header">
              <a
                class="card-link collapsed"
                data-toggle="collapse"
                href="#collapseOne"
              >
                How long will my project take?
              </a>
            </div>
            <div id="collapseOne" class="collapse" data-parent="#accordion-1">
              <div class="card-body">
                All projects have there own nuances, Once we have assessed your
                project with a free quotation we will be able to give you an
                estimated time frame..
              </div>
            </div>
          </div>
          <div class="card wow fadeInLeft" data-wow-delay="0.2s">
            <div class="card-header">
              <a
                class="card-link collapsed"
                data-toggle="collapse"
                href="#collapseTwo"
              >
                How much will my project cost?
              </a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion-1">
              <div class="card-body">
                Projects may very in size and quality of finishes, our aim is
                provide our clients with the finish they desire within their
                budget. A free detailed quotation is available upon request.
              </div>
            </div>
          </div>
          <div class="card wow fadeInLeft" data-wow-delay="0.3s">
            <div class="card-header">
              <a
                class="card-link collapsed"
                data-toggle="collapse"
                href="#collapseThree"
              >
                How quickly can you get started?
              </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion-1">
              <div class="card-body">
                We pride ourselves in being able to start works at a minimum of
                2 week period, with our in house tradesman, providing all
                permissions have been put in place. .
              </div>
            </div>
          </div>
          <div class="card wow fadeInLeft" data-wow-delay="0.4s">
            <div class="card-header">
              <a
                class="card-link collapsed"
                data-toggle="collapse"
                href="#collapseFour"
              >
                How long does planning application take?
              </a>
            </div>
            <div id="collapseFour" class="collapse" data-parent="#accordion-1">
              <div class="card-body">
                Planning permission take approximately 8 weeks from submission.
                Please note this time frame does not include drawings or any
                amendments required to get this project through. For much larger
                or complex project applications can take approximately 13 weeks.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div id="accordion-2">
          <div class="card wow fadeInLeft" data-wow-delay="0.5s">
            <div class="card-header">
              <a
                class="card-link collapsed"
                data-toggle="collapse"
                href="#collapseFive"
              >
                Will I need building control?
              </a>
            </div>
            <div id="collapseFive" class="collapse" data-parent="#accordion-1">
              <div class="card-body">
                Building control is required when constructing a new building or
                undertaking structural works or alterations to an existing
                building. We will inform you if your project required building
                control and advise what costs would be associated as part of our
                detailed quotation.
              </div>
            </div>
          </div>
          <div class="card wow fadeInRight" data-wow-delay="0.1s">
            <div class="card-header">
              <a
                class="card-link collapsed"
                data-toggle="collapse"
                href="#collapseSix"
              >
                Do you provide building control?
              </a>
            </div>
            <div id="collapseSix" class="collapse" data-parent="#accordion-2">
              <div class="card-body">
                We are associated with some of the leading building control
                firms in the country. However we do not provide building control
                as an independent party must undertake this.
              </div>
            </div>
          </div>
          <div class="card wow fadeInRight" data-wow-delay="0.2s">
            <div class="card-header">
              <a
                class="card-link collapsed"
                data-toggle="collapse"
                href="#collapseSeven"
              >
                How are the quotes broken down?
              </a>
            </div>
            <div id="collapseSeven" class="collapse" data-parent="#accordion-2">
              <div class="card-body">
                We provide detailed items quotation to provide you with us much
                information about how your money is being spent. Our aim is to
                be transparent and let you know where your money is going.
              </div>
            </div>
          </div>
          <div class="card wow fadeInRight" data-wow-delay="0.3s">
            <div class="card-header">
              <a
                class="card-link collapsed"
                data-toggle="collapse"
                href="#collapseEight"
              >
                How accurate are the quotes?
              </a>
            </div>
            <div id="collapseEight" class="collapse" data-parent="#accordion-2">
              <div class="card-body">
                Our quotations are very accurate, we believe in being upfront
                with costings of projects to allow our clients to achieve there
                desired finish without any extra costs. We do however advise a
                contingency to be put in place for any hidden issue that may be
                revealed during the build.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- FAQs End -->
