<!-- Service Start -->
<div class="service">
  <div class="container">
    <div class="section-header text-center">
      <p>Our Services</p>
      <h2>We Provide Services</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
        <div class="service-item">
          <div class="service-img">
            <img
              src="../../../assets/img/services/back_extention.jpg"
              alt="Image"
            />
            <div class="service-overlay">
              <p>Prestige Construction London</p>
            </div>
          </div>
          <div class="service-text">
            <h3>Back Extensions</h3>
            <a
              class="btn"
              href="../../../assets/img/services/back_extention.jpg"
              data-lightbox="back_extention"
              >+</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item">
          <div class="service-img">
            <img
              src="../../../assets/img/services/loft_construction.jpg"
              alt="Image"
            />
            <div class="service-overlay">
              <p>Prestige Construction London</p>
            </div>
          </div>
          <div class="service-text">
            <h3>Loft Extention</h3>
            <a
              class="btn"
              href="../../../assets/img/services/loft_construction.jpg"
              data-lightbox="loft_construction"
              >+</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
        <div class="service-item">
          <div class="service-img">
            <img src="../../../assets/img/services/plumbing.jpg" alt="Image" />
            <div class="service-overlay">
              <p>Prestige Construction London</p>
            </div>
          </div>
          <div class="service-text">
            <h3>Plumbing</h3>
            <a
              class="btn"
              href="../../../assets/img/services/plumbing.jpg"
              data-lightbox="plumbing"
              >+</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item">
          <div class="service-img">
            <img src="../../../assets/img/services/landscape.jpg" alt="Image" />
            <div class="service-overlay">
              <p>Prestige Construction London</p>
            </div>
          </div>
          <div class="service-text">
            <h3>Landscape Overhaul</h3>
            <a
              class="btn"
              href="../../../assets/img/services/landscape.jpg"
              data-lightbox="landscape"
              >+</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="service-item">
          <div class="service-img">
            <img src="../../../assets/img/services/carpentry.jpg" alt="Image" />
            <div class="service-overlay">
              <p>Prestige Construction London</p>
            </div>
          </div>
          <div class="service-text">
            <h3>Carpentry</h3>
            <a
              class="btn"
              href="../../../assets/img/services/carpentry.jpg"
              data-lightbox="carpentry"
              >+</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item">
          <div class="service-img">
            <img
              src="../../../assets/img/services/decorating.jpg"
              alt="Image"
            />
            <div class="service-overlay">
              <p>Prestige Construction London</p>
            </div>
          </div>
          <div class="service-text">
            <h3>Decorating</h3>
            <a
              class="btn"
              href="../../../assets/img/services/decorating.jpg"
              data-lightbox="decorating"
              >+</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
        <div class="service-item">
          <div class="service-img">
            <img
              src="../../../assets/img/services/electrical.jpg"
              alt="Image"
            />
            <div class="service-overlay">
              <p>Prestige Construction London</p>
            </div>
          </div>
          <div class="service-text">
            <h3>Electrical</h3>
            <a
              class="btn"
              href="../../../assets/img/services/electrical.jpg"
              data-lightbox="electrical"
              >+</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item">
          <div class="service-img">
            <img src="../../../assets/img/services/bathroom.jpg" alt="Image" />
            <div class="service-overlay">
              <p>Prestige Construction London</p>
            </div>
          </div>
          <div class="service-text">
            <h3>Bathrooms & Tiling</h3>
            <a
              class="btn"
              href="../../../assets/img/services/bathroom.jpg"
              data-lightbox="bathroom"
              >+</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
        <div class="service-item">
          <div class="service-img">
            <img src="../../../assets/img/services/flooring.jpg" alt="Image" />
            <div class="service-overlay">
              <p>Prestige Construction London</p>
            </div>
          </div>
          <div class="service-text">
            <h3>Flooring & Decking</h3>
            <a
              class="btn"
              href="../../../assets/img/services/flooring.jpg"
              data-lightbox="flooring"
              >+</a
            >
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
        <div class="service-item">
          <div class="service-img">
            <img
              src="../../../assets/img/services/kitchen_installation.jpg"
              alt="Image"
            />
            <div class="service-overlay">
              <p>Prestige Construction London</p>
            </div>
          </div>
          <div class="service-text">
            <h3>Kitchen Instalation</h3>
            <a
              class="btn"
              href="../../../assets/img/services/kitchen_installation.jpg"
              data-lightbox="kitchen_installation"
              >+</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item">
          <div class="service-img">
            <img
              src="../../../assets/img/services/roofing_installation.jpg"
              alt="Image"
            />
            <div class="service-overlay">
              <p>Prestige Construction London</p>
            </div>
          </div>
          <div class="service-text">
            <h3>Roofing</h3>
            <a
              class="btn"
              href="../../../assets/img/services/roofing_installation.jpg"
              data-lightbox="roofing_installation"
              >+</a
            >
          </div>
        </div>
      </div>
    </div>
    <app-faq></app-faq>
  </div>
</div>
<!-- Service End -->
